<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Solicitud de intercambio</title>
  </head>
  <body style='background-color: #f4f4f4; margin: 0; padding: 0;'>
    <table
      align='center'
      role='presentation'
      cellspacing='0'
      cellpadding='0'
      border='0'
      width='100%'
      style='max-width: 600px; margin: 0 auto; background-color: white; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);'
    >
      <tr>
        <td style='padding: 40px; text-align: center;'>
          <table
            align='center'
            role='presentation'
            cellspacing='0'
            cellpadding='0'
            border='0'
            style='margin: 0 auto;'
          >
            <tr>
              <td style='vertical-align: middle;'>
                <img
                  src='https://firebasestorage.googleapis.com/v0/b/autos-f7004.appspot.com/o/documentos%2Flogo%20libro%20a%20yamariillo%20sin%20fondo%201.png?alt=media&token=a9d6d1ba-93fe-4abf-bc46-33dc3e5e1d6f'
                  alt='icono libro logo'
                  style='width: 96px; height: 65px; display: block;'
                />
              </td>
              <td style='vertical-align: middle; padding-left: 20px;'>
                <h1
                  style='font-size: 2.5rem; color: #000000; margin: 0;'
                >Bswap</h1>
              </td>
            </tr>
          </table>
          <h2
            style='font-size: 1.8rem;font-weight: bold color: #000000; margin-bottom: 30px; margin-top: 30px;'
          ><strong>Solicitud de intercambio de libro</strong></h2>

          <p
            style='font-size: 1.8rem;font-weight: bold  color: #000000; margin: 15px 0;'
          ><strong>Hola {{ownerName}},</strong></p>
          <p
            style='font-size: 1.8rem;font-weight: bold color: #000000; margin: 15px 0;'
          ><strong>Mi nombre es {{requesterName}}.</strong></p>
          <p
            style='font-size: 1.8rem;font-weight: bold color: #000000; margin: 15px 0;'
          ><strong>Me interesa el intercambio de tu libro
              {{bookTitle}}</strong>.</p>

          <p
            style='font-size: 1.8rem;font-weight: bold color: #000000; margin: 15px 0;'
          ><strong>Si te interesa el intercambio, podemos coordinar un punto de
              encuentro.</strong></p>

          <a
            href='{{link}}'
            style='width: 246px; height: 46px; margin-top: 30px; border: none; padding: 15px 25px; border-radius: 5px; color: white; display: inline-block; background-color: #0059ee; text-decoration: none; font-size: 36px; transition: background-color 0.3s ease; line-height: 46px;'
          >
            Contactar aquí
          </a>

          <div style='margin-top: 1.8rem; font-size: 0.9rem; color: #000000;'>
            <p>Saludos,</p>
            <p>{{ownerName}}</p>
            <p>El equipo de BookSwap</p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>